/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	Overide Styles
*/

/*---------------------------------
	COLOR PALETTE
	Lilac Purple: #abb1da
	Sea Green: #31bba5
	Turquoise: #0e939d
	Blue: #185785
	Navy Blue: #0b162f
	
-----------------------------------*/

/*---------------------------------
	TYPOGRAPHY - Google Fonts
	Comfortaa
	Open Sans
-----------------------------------*/

h1,h2,h3,h4,h5,h6{
	font-family: 'Comfortaa', Arial, sans-serif;
	font-weight:normal;
	text-transform: uppercase;
}

body{
	margin: 0;
	padding:0 0 0px 0;
	background-color: #ffffff;
	font-family: 'Open Sans', Arial, sans-serif;
}

thead th,
tbody th{}

blockquote{}

/*---------------------------------
	LINKS & BUTTONS
-----------------------------------*/
button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: ;
}

.butn {
 	border-radius: 3px;
 	box-shadow: none;
 	border:0px;
 	font-size:16px;
 	color: ;
 	background: ;
 	padding: 0px 0px;
	font-family: 'Patrick Hand', Arial, sans-serif;
 	font-weight: normal;
 	margin: 0 5px;

}

.butn:hover {
  background: ;
  text-decoration: none;
  border-radius: 3px;
 	box-shadow: none;
 	border:0px;
}

a{
	color: red;
	text-decoration: bold;
}

/*---------------------------------
	NAVIGATION & MENU
-----------------------------------*/
.menu{
	font-family: 'Comfortaa', sans-serif;
	font-weight:normal;
	text-transform: uppercase;

}

.menu {
 	background: rgba(255, 255, 255,0); /*white*/
 	border: none;
    border-radius: 0px;
    padding: 0;

    float: none;
  	position: absolute;
  	top: 3%;
  	left: 50%;
  	transform: translate(-50%, -50%);

 }


.menu li {
  	background: ;
  	border: 0px solid;
  	border-radius: 0px;
  	margin-right: 0px;

}

.menu li a {
    text-shadow: 0 0 0px transparent;
    border: 0px solid ;
  	border-radius: 0px;
	font-size: 1em;  	
	color: #000000;
  	
}

.menu li a:hover {
    text-shadow: 0 0 0px transparent;
    border: 0px solid ;
  	border-radius: 0px;

  	font-size: 1em;
  	color: #bbbbbb;

  	
}

.menu li a:active {
    text-shadow: 0 0 0px transparent;
    border: 0px solid ;
  	border-radius: 0px;

  	font-size: 1em;
  	color: #999999;
  	background-color: ;
}
.menu li.current>a, .menu li.current>a:hover, .menu li.current.hover>a{
	background: #000000;
}

/*.navbar{
position: fixed;
top:0;
left:0;
width: 100%;
background:#000;
color:#fff;
z-index:1000;
}

.navbar #logo{
position:absolute;
top:0;
right:0;
padding:0.5em 1em;
font-size: 1.7em;
color:#efefef;
text-decoration:none;
}

.navbar span{
color:#86dc00;
}


.navbar ul{
display:inline-block;
margin:0;
padding:0;
}

.navbar li{
margin:0;
padding:0;
list-style-type:0;
display:inline-block;
}

.navbar li a{
display:inline-block;
color:#efefef;
padding:1em 1.3em;
text-decoration:none;
text-transform: uppercase;
line-height:100%;
font-size: 1.2em;
}*/



/*---------------------------------
	LAYOUT
-----------------------------------*/

.home_head{
	background-image: url();
	background-repeat: no-repeat;
	background-size:cover;
	padding-bottom: 0px;
	margin: 0;
	background-position: 50% 50%;

}
.comp_img{
	max-width: 100%
	background-size: cover;
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}


#footer{
	width:100%;
	text-align: left;
	padding:20px;
	margin:0;
	border-top:0px solid #ddd;
	color:#ffffff;
	font-size:0.8em;
	position: relative;
	top:0;
	left:0;
	background:#000000;
}

	#link-top{
	display:none;
	}

.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}

/*---------------------------------
	PARALLAX EFFECT
-----------------------------------*/

body, html {
  height: 100%;
  width:  100%;
  margin:auto;
  padding:0;

}

.parallax{
	/* The image used */
  background-image: url('background.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


